<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div >
    <div class="col s12 m6 l3">
      <p class="z-depth-2"></p>
    </div>
  </div>
</div>

<div class="row">
<div class="z-depth-2" >
  <div *ngFor="let element of jses6data ; let i = index" >
 <div class="col s12 m6 l3">
      <p >{{element.dataJS}} , {{element.dataInfos[i].name}}</p>
    </div>
    
  </div>
</div></div>